body {
    margin: 0; /* Reset default margin */
    padding: 0; /* Reset default padding */
  }
  

/* .Main {
    display: flex;
    height: 100%;
}

.Log_Text{
    color: '#535353';
    font-weight:bolder;
    font-size: 23px;
    font-family: "Vazirmatn", sans-serif;
} */